.hero {
	width: 100%;

	@media screen and (max-width: 1199px) {
		padding-top: 118px;
		padding-bottom: 198px;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 200px;
		padding-bottom: 200px;
	}

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hw4/hero/герой.jpg);
	background-size: cover;
	background-position: center;
	background-color: #2f303a;

	&__container {
		margin-left: auto;
		margin-right: auto;
		// display: flexbox;

		max-width: 572px;
		text-align: center;
		letter-spacing: 0.06em;
	}

	&__title {
		margin: 0 auto;
		color: $primary-white-color;
		text-transform: uppercase;
		letter-spacing: 0.06em;

		@media screen and (max-width: 1199px) {
			max-width: 360px;
			@include font(900, 26px, 1.615);
		}

		@media screen and (min-width: 1200px) {
			width: 604px;
			@include font(900, 44px, 1.364);
		}
	}
}
