.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	transition: $transition;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&__accent-web {
		color: $accent-color;
	}
}

.navigation__logo-header {
	padding-top: 24px;
	padding-bottom: 25px;
	color: $title-text-color;
}
