.logo {
	font-family: Raleway, sans-serif;
	transition: $transition;

	@media screen and (max-width: 1199px) {
		@include font(700, 24px, 1.167);
	}

	@media screen and (min-width: 1200px) {
		@include font(700, 26px, 1.192);
	}

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&__accent-web {
		color: $accent-color;
	}
}

.navigation__logo-header {
	color: $title-text-color;

	@media screen and (max-width: 767px) {
		display: block;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-top: 26px;
		padding-bottom: 26px;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 24px;
		padding-bottom: 25px;
	}
}
