.page-header {
	border-bottom: 1px solid #ececec;
	position: relative;

	&__site {
		letter-spacing: 0.02em;

		@media screen and (max-width: 767px) {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: $primary-white-color;
			padding: 20px;

			&.is-open {
				display: block;
			}
		}

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			@include font(500, 12px, 1.167);
		}

		@media screen and (min-width: 1200px) {
			@include font(500, 14px, 1.14);
		}
	}
}

.main-flex {
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// flex-wrap: wrap;
	// height: 453px;
}

.navigation {
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}

.page-header__menu .navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 80px;
}
.menu-button {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.menu-button .icon-cross {
	display: none;
}
.menu-button.is-open .icon-cross {
	display: block;
}
.menu-button.is-open .icon-menu {
	display: none;
}
