.projects__list {
	display: flex;
	flex-wrap: wrap;
	// justify-content: center;

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin: -15px;
	}

	& .card__title {
		margin-top: 0;
		margin-bottom: 4px;
		letter-spacing: 0.06em;
		color: $title-text-color;

		@include font(700, 18px, 2);
	}

	& .card__indent {
		margin-top: 0;
		margin-bottom: 0;
		color: $primary-text-color;

		@include font(400, 16px, 1.87);
	}
}
