.contacts {
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		margin-left: 50px;
	}
}

.site-contacts {
	&__item {
		@media screen and (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		@media screen and (min-width: 1200px) {
			.site-contacts__list & + & {
				margin-left: 30px;
			}
		}
	}

	&__icon-mail,
	&__icon-tell {
		fill: currentColor;
		width: 16px;
		height: 12px;
		margin-right: 10px;
		background-size: contain;
	}

	&__link {
		@media screen and (min-width: 1200px) {
			padding-top: 32px;
			padding-bottom: 32px;
		}

		&:hover .site-contacts__icon-mail,
		&:hover .site-contacts__icon-tell,
		&:focus .site-contacts__icon-mail,
		&:focus .site-contacts__icon-tell {
			fill: $accent-color;
		}

		.site-contacts__list &:hover,
		.site-contacts__list &:focus,
		.site-nav__list &.current {
			color: $accent-color;
		}

		.site-contacts__list & {
			color: $primary-text-color;
			transition: $transition;
		}
	}
}
