.site-contacts {
	&__list {
		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (min-width: 1200px) {
			margin-left: 93px;
			display: flex;
			margin-right: auto;
		}

		// flex-direction: column;
		// align-items: center;
	}

	&__icon-mail,
	&__icon-tell {
		fill: currentColor;
		width: 16px;
		height: 12px;
		margin-right: 10px;
		background-size: contain;
	}

	&__link {
		&:hover .site-contacts__icon-mail,
		&:hover .site-contacts__icon-tell,
		&:focus .site-contacts__icon-mail,
		&:focus .site-contacts__icon-tell {
			fill: $accent-color;
		}

		.site-contacts__list &:hover,
		.site-contacts__list &:focus,
		.site-nav__list &.current {
			color: $accent-color;
		}

		.site-contacts__list & {
			color: $primary-text-color;
			transition: $transition;
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}

	&__item {
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		@media screen and (min-width: 1200px) {
			.site-contacts__list & + & {
				margin-left: 50px;
			}
		}

		// &:last-child {
		// 	margin-bottom: 30px;
		// }

		// &__item {
		// 	width: calc(50% - 30px);
		// }
	}
}
