.section__title {
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
	color: $title-text-color;

	@media screen and (max-width: 1199px) {
		@include font(700, 28px, 1.179);
	}
	@media screen and (min-width: 1200px) {
		@include font(700, 36px, 1.166);
	}
}
