/* Цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Акцент #2196F3 */

/* белый #FFFFFF */
/* белый футер  rgba(255, 255, 255, 0.6); */

/* главный цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона футера, hero #2F303A */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
